@using EntitiesCL;
@model Institution
@{
    ViewBag.Title = "Index - Institution";
}

<h2>Index</h2>
<hr/>
Institution ID: @(Model.InstitutionID)
<hr />
Institution Name: @(Model.Name)
<hr />
Address: @(Model.Address)
<hr />
Mobile: @(Model.Mobile)

